@import 'tailwindcss';

:root {
  --bg: #ffffff;
  --fg: #222222;
  --fg2: #a9a9a9;
  --width-page: 560px;
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-fg-2: var(--fg2);
  --max-width-page: var(--width-page);
}

body {
  background: var(--bg);
  color: var(--fg);
  font-size: 15px;
}
